In [13]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

# Import the Parsers
from openquake.cat.parsers.isf_catalogue_reader import ISFReader
from openquake.cat.parsers.gcmt_ndk_parser import ParseNDKtoGCMT
from openquake.cat.parsers.converters import (GenericCataloguetoISFParser,
                                      GenericCataloguetoGCMT,
                                      GCMTtoISFParser)

## Load in ISF Catalogue

### With all agencies

In [14]:
parser = ISFReader("inputs/1900-1999-PH_ISF_Catalogue.txt")
catalogue1 = parser.read_file("ISC_DB1", "ISC Global M >= 5")
print("Catalogue contains: %d events" % catalogue1.get_number_events())

Catalogue contains: 30322 events

In [ ]:
# Build Dataframes
origin_df1, magnitude_df1 = catalogue1.build_dataframe()

In [16]:
origin_df1

,eventID,originID,Agency,year,month,day,hour,minute,second,time_error,...,semiminor90,error_strike,depth_error,prime,dip1,rake1,str1,dip2,rake2,str2
0,914258,02318590,CENT,1907,3,29,20,46,30.000000,0.00,...,0.000,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,914258,1961889,GUTE,1907,3,29,20,46,30.000000,0.00,...,0.000,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0
2,914262,02318594,CENT,1907,4,18,20,59,48.000000,0.00,...,0.000,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,914262,1961893,GUTE,1907,4,18,20,59,48.000000,0.00,...,0.000,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0
4,914263,02318595,CENT,1907,4,18,23,52,24.000000,0.00,...,0.000,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91939,1658727,2982384,BJI,1999,12,31,22,52,13.500000,0.00,...,0.000,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
91940,1658727,3007548,NEIC,1999,12,31,22,52,15.953125,1.67,...,8.100,74.0,15.3,0,0.0,0.0,0.0,0.0,0.0,0.0
91941,1658727,12190647,ISC-EHB,1999,12,31,22,52,17.375000,0.00,...,6.700,78.0,14.6,0,0.0,0.0,0.0,0.0,0.0,0.0
91942,1658727,9267361,EHB,1999,12,31,22,52,17.453125,0.00,...,6.500,87.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
91943,1658727,3550128,ISC,1999,12,31,22,52,16.250000,0.51,...,6.954,69.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
magnitude_df1

,eventID,originID,magnitudeID,value,sigma,magType,magAgency
0,914258,02318590,02318590|ABE1|7.20|mB,7.2,0.0,mB,ABE1
1,914258,02318590,02318590|GUTE|7.20|UK,7.2,0.0,UK,GUTE
2,914258,02318590,02318590|B&D|7.20|UK,7.2,0.0,UK,B&D
3,914258,1961889,1961889|PAS|7.20|MS,7.2,0.0,MS,PAS
4,914262,02318594,02318594|ABE1|7.00|mB,7.0,0.0,mB,ABE1
...,...,...,...,...,...,...,...
81789,1658727,2509886,2509886|MAN|4.20|MS,4.2,0.0,MS,MAN
81790,1658727,2982384,2982384|BJI|4.70|mb,4.7,0.0,mb,BJI
81791,1658727,2982384,2982384|BJI|3.80|Msz,3.8,0.0,Msz,BJI
81792,1658727,3007548,3007548|NEIC|4.70|mb,4.7,0.0,mb,NEIC
81793,1658727,3550128,3550128|ISC|4.20|mb,4.2,0.1,mb,ISC

In [18]:
import datetime
# Get the current date and time
current_datetime = datetime.datetime.now()
formatted_date = current_datetime.strftime("%Y.%m.%d.%H.%M.%S")

# Create the filename using the formatted date
filename1 = f"outputs/1900-2021-PH_ISF_Catalogue_origins_{formatted_date}.csv"
filename2 = f"outputs/1900-2021-PH_ISF_Catalogue_magnitudes_{formatted_date}.csv"

# Save the DataFrame to CSV using the filename
origin_df1.to_csv(filename1, index=False)
magnitude_df1.to_csv(filename2, index=False)

### With only ISC, EHB and NEIC

In [20]:
parser2 = ISFReader("inputs/1900-1999-PH_ISF_Catalogue.txt",
                   selected_origin_agencies=["ISC", "EHB", "NEIC"],
                   selected_magnitude_agencies=["ISC", "EHB", "NEIC"])
catalogue2 = parser2.read_file("ISC_DB2", "ISC Global M >= 5")
print("Catalogue contains: %d events" % catalogue2.get_number_events())

Catalogue contains: 16282 events

In [ ]:
# Build Dataframes
origin_df2, magnitude_df2 = catalogue2.build_dataframe()

In [22]:
origin_df2

,eventID,originID,Agency,year,month,day,hour,minute,second,time_error,...,semiminor90,error_strike,depth_error,prime,dip1,rake1,str1,dip2,rake2,str2
0,16958127,05951197,ISC,1910,12,16,14,44,55.875000,0.80,...,11.930,65.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0
1,16958154,05951206,ISC,1911,7,12,4,7,38.250000,0.56,...,9.909,62.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0
2,914043,05951215,ISC,1913,3,14,8,45,4.308594,0.62,...,10.010,73.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0
3,914014,05951229,ISC,1914,10,23,6,18,44.812500,0.79,...,12.500,82.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0
4,913884,05951232,ISC,1915,2,28,18,59,12.031250,0.59,...,7.621,84.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35038,1658725,3007547,NEIC,1999,12,31,22,26,44.937500,1.07,...,5.400,73.0,9.7,0,0.0,0.0,0.0,0.0,0.0,0.0
35039,1658725,3550124,ISC,1999,12,31,22,26,45.843750,0.39,...,6.211,72.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0
35040,1658727,3007548,NEIC,1999,12,31,22,52,15.953125,1.67,...,8.100,74.0,15.3,0,0.0,0.0,0.0,0.0,0.0,0.0
35041,1658727,9267361,EHB,1999,12,31,22,52,17.453125,0.00,...,6.500,87.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
35042,1658727,3550128,ISC,1999,12,31,22,52,16.250000,0.51,...,6.954,69.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
magnitude_df2

,eventID,originID,magnitudeID,value,sigma,magType,magAgency
0,16958127,05951197,05951197|ISC|7.60|MS,7.6,0.1,MS,ISC
1,16958154,05951206,05951206|ISC|7.70|MS,7.7,0.1,MS,ISC
2,914043,05951215,05951215|ISC|7.80|MS,7.8,0.1,MS,ISC
3,914014,05951229,05951229|ISC|7.50|MS,7.5,0.2,MS,ISC
4,913884,05951232,05951232|ISC|7.40|MS,7.4,0.1,MS,ISC
...,...,...,...,...,...,...,...
29277,1658725,3007547,3007547|NEIC|4.70|mb,4.7,0.0,mb,NEIC
29278,1658725,3550124,3550124|ISC|4.80|mb,4.8,0.2,mb,ISC
29279,1658725,3550124,3550124|ISC|4.00|MS,4.0,0.5,MS,ISC
29280,1658727,3007548,3007548|NEIC|4.70|mb,4.7,0.0,mb,NEIC
29281,1658727,3550128,3550128|ISC|4.20|mb,4.2,0.1,mb,ISC

## Read in GCMT Catalogue (NDK Format)

In [26]:
gcmt_parser = ParseNDKtoGCMT("inputs/gcmt_test_catalogue.txt")
gcmt_cat = gcmt_parser.read_file()
print("GCMT Catalogue contains %d moment tensors" % gcmt_cat.number_events())

Parsing catalogue ...
complete. Contains 4010 moment tensors
GCMT Catalogue contains 4010 moment tensors

In [28]:
# Build Dataframes
catalogue3 = GCMTtoISFParser("inputs/gcmt_test_catalogue.txt").parse()
origin_df3, magnitude_df3 = catalogue3.build_dataframe()
origin_df3

Parsing catalogue ...
complete. Contains 4010 moment tensors

C:\Users\enrico.abcede\mbtk\oq-mbtk\openquake\cat\isf_catalogue.py:1212: UserWarning: Warning, depth <= 0.0 (id:GCMT_003333)
  warnings.warn(fmt.format(eq.id))

,eventID,originID,Agency,year,month,day,hour,minute,second,time_error,...,semiminor90,error_strike,depth_error,prime,dip1,rake1,str1,dip2,rake2,str2
0,GCMT_000001,C200501010120A,PDE,2005,1,1,1,20,5.398438,0.0,...,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0
1,GCMT_000001,C200501010120A-C,GCMT,2005,1,1,1,20,5.699219,0.9,...,0.0,0.0,12.5,0,0.0,0.0,0.0,0.0,0.0,0.0
2,GCMT_000002,C200501010142A,PDE,2005,1,1,1,42,24.906250,0.0,...,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0
3,GCMT_000002,C200501010142A-C,GCMT,2005,1,1,1,42,26.000000,0.8,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,GCMT_000003,C200501010143A,PDE,2005,1,1,1,43,40.093750,0.0,...,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8015,GCMT_004008,C200612301433A-C,GCMT,2006,12,30,14,33,15.000000,0.1,...,0.0,0.0,0.8,0,0.0,0.0,0.0,0.0,0.0,0.0
8016,GCMT_004009,C200612301739A,SWEQ,2006,12,30,17,39,20.000000,0.0,...,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0
8017,GCMT_004009,C200612301739A-C,GCMT,2006,12,30,17,39,22.406250,0.2,...,0.0,0.0,1.8,0,0.0,0.0,0.0,0.0,0.0,0.0
8018,GCMT_004010,C200612301742A,PDEW,2006,12,30,17,42,14.601562,0.0,...,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0
8019,GCMT_004010,C200612301742A-C,GCMT,2006,12,30,17,42,16.000000,0.3,...,0.0,0.0,1.6,0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
magnitude_df3

,eventID,originID,magnitudeID,value,sigma,magType,magAgency
0,GCMT_000001,C200501010120A,C200501010120A|PDE |5.00|mb,5.000000,0.0,mb,PDE
1,GCMT_000001,C200501010120A-C,C200501010120A-C|GCMT|4.71|Mw,4.711956,0.0,Mw,GCMT
2,GCMT_000002,C200501010142A,C200501010142A|PDE |5.10|mb,5.100000,0.0,mb,PDE
3,GCMT_000002,C200501010142A-C,C200501010142A-C|GCMT|5.01|Mw,5.010644,0.0,Mw,GCMT
4,GCMT_000003,C200501010143A,C200501010143A|PDE |4.90|mb,4.900000,0.0,mb,PDE
...,...,...,...,...,...,...,...
9803,GCMT_004008,C200612301433A-C,C200612301433A-C|GCMT|5.58|Mw,5.575086,0.0,Mw,GCMT
9804,GCMT_004009,C200612301739A,C200612301739A|SWEQ|5.20|Ms,5.200000,0.0,Ms,SWEQ
9805,GCMT_004009,C200612301739A-C,C200612301739A-C|GCMT|5.26|Mw,5.255591,0.0,Mw,GCMT
9806,GCMT_004010,C200612301742A,C200612301742A|PDEW|5.10|mb,5.100000,0.0,mb,PDEW
9807,GCMT_004010,C200612301742A-C,C200612301742A-C|GCMT|5.23|Mw,5.226239,0.0,Mw,GCMT